include Makefile
include README
include INSTALL
include COPYRIGHT
include CONTRIBUTORS
include docs/Doxyfile
include docs/*.tex
include docs/*.sty
include docs/*.pdf
include docs/Makefile
include docs/Web/*
include pcs/pcap/*.h
include pcs/pcap/LICENSE
recursive-include tests *.py
recursive-include tests *.out
recursive-include scripts *.py
global-exclude ymsgr.py
